NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
VENTO_CACHE_ENV=dev

SENTRY_DSN=
SENTRY_ENVIRONMENT=dev
NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_SENTRY_ENVIRONMENT=dev

JOB_SECRET=
